*{margin: 0;padding: 0;}
body{
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans';
    font-weight: 700;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -300px -400px, right -300px bottom -400px;
}
h1{
    color: hsl(229, 23%, 23%);
    font-size: 18px;
}
h4{
    color: hsl(0, 0%, 59%);
    font-size: 10px;
}
p{
    font-size: 14px;
    padding-top: 10px;
}
p,span{
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

hr{
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.322);
}

.container{
    display: flex;
    height: 97vh;
    margin: auto;
}
.card{
    width: 350px;
    margin: auto;
    text-align: center;
    background-color: azure;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 20px 20px 20px hsla(229, 23%, 23%, 0.164);
}
.profile-avator{
    height: 140px;
    margin-bottom: 80px;
    background-image: url(../images/bg-pattern-card.svg);
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.avator{
    position: relative;
    top: 90px;
    border: 5px solid azure;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile{
    margin: 30px;
}
.data{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 30px 0;
}

@media (max-width: 900px){
    body{
        background-position: -800px -300px, right -800px bottom -300px;
    }
    .card{
        width: 330px;
    }
}